* {
  margin: 0;
  padding: 0;
  background-color: rgb(201, 201, 201);
}

#create-show {
  display: none;
}

#show-button {
  display: none;
}

.blog-card-big {
  margin: 1rem;
  padding: 1rem;
  line-height: 1.7rem;
}

.post-image-big {
  width: 500px;
}

#edit-show {
  display: none;
}

#edit-show {
  display: none;
}

.newest-text{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

/*--------------------------------------*/

/* Ensure images are displayed at their intrinsic dimensions */
.post-image {
  width: 100%;
  height: 100%;
}

  .post{
    height: 500px;
    width: 700px;
    transition: transform 0.5s ease;
  }
  
  /* Ensure the buttons are positioned absolutely */
  .slider-container {
    background: transparent;
    position: absolute; /* Set position to absolute */
    top: 30%;
    display: flex;
    justify-content: space-between; /* Distribute items evenly along the main axis */
    width: 725px; /* Ensure full width of the container */
  }
  
.prev-btn,.next-btn{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 50%;
    font-weight: bold;
}
  
  .prev-btn {
    left: 0;
  }
  
  .next-btn {
    right: 0;
  }

  .blog-container {
    display: flex;
  }

  .carousel-wrapper {
    max-width: 700px;
    height: 600px;
    overflow: hidden;
    display: flex; /* Ensure items remain in a row */
    margin: auto;
  }
  
  .blog-container {
    flex-shrink: 0; /* Prevent items from shrinking */
  }

.carousel-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
