*{
    margin: 0;
    padding: 0;
    background-color: rgb(201, 201, 201);
}


#create-show{
    display: none;
}

#show-button{
    display: none;
}

.blog-card{
    margin: 1rem;
    padding: 1rem;
    line-height: 1.7rem;
    transition: transform .2s
}

.blog-card-big{
    margin: 1rem;
    padding: 1rem;
    line-height: 1.7rem;
}

.blog-container{
    display: flex;
}

.post-image-big{
    width: 500px;
}


.post-image{
    width: 200px;
}

.tags{
    background-color: lightpink;
    padding: 0 1rem;
    border-radius: 1rem;
    width: fit-content;
}

.body-text{
    margin: 1rem 0;
}

.post-image-detail{
    max-width: 500px;
}

.button-container{
    display: flex;
    margin: 1rem;
    padding: 1rem;
}

#edit-show{
    display: none;
}

.blog-card:hover{
    transform: scale(1.1);
    cursor: pointer;
}

  /* CSS Styling */
.blog-container {
    display: flex;
    justify-content: center; /* Center the post horizontally */
    align-items: center; /* Center the post vertically */
    max-width: 800px; /* Maximum width of a post */
    margin: 0 auto; /* Center horizontally */
}

.slides {
    overflow: hidden; /* Hide overflowing content */
}

.carousel {
    width: 300px; /* Full width */
    overflow: hidden; /* Hide overflowing content */
    margin: 0 auto; /* Center horizontally */
}


  
  .control-btn {
    border: none;
    font-size: 24px;
    cursor: pointer;
    
    justify-content: space-between;
  }
  
  .prev-btn {

    background-color: white;
    padding: 0 0.5rem;
    border-radius: 50%;
  }
  
  .next-btn {
    background-color: white;
    padding: 0 0.5rem;
    border-radius: 50%;
  }

.controls{
    display: flex;
    justify-content: space-evenly;
}