*{
    margin: 0;
    padding: 0;
    background-color: rgb(201, 201, 201);
}



#create-show{
    display: none;
}

#show-button{
    display: none;
}

.blog-card{
    margin: 1rem;
    padding: 1rem;
    line-height: 1.7rem;
    position: absolute;
    right: 50%;
}

.blog-card-big{
    margin: 1rem;
    padding: 1rem;
    line-height: 1.7rem;
}

.blog-container{
    display: flex;
}

.post-image-big{
    width: 500px;
}


.post-image{
    width: 200px;
}

.tags{
    background-color: lightpink;
    padding: 0 1rem;
    border-radius: 1rem;
    width: fit-content;
}

.body-text{
    margin: 1rem 0;
}

.post-image-detail{
    max-width: 500px;
}

.button-container{
    display: flex;
    margin: 1rem;
    padding: 1rem;
}

#edit-show{
    display: none;
}
/*--------------------------------------*/

